/* Style destinado SOMENTE a tela de login */
body{
    background-color: black;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
.formulario{
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 2px solid #0DFF00;
    border-radius: 10px;
    width: 400px;
    height:270px ;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.link{
    color: var(--cor-principal);
}
 #my {
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-shadow: #0DFF00 6px 0 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
   letter-spacing: 5px; 

}
    
header{
    justify-content: center;
}

.dois{
    border: 2px solid #000000;
    box-shadow: #0DFF00 0px 5px 1px;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    height: 30px;
    background-position: 10px 0px ;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 30px;
 
}

form{
    display: flex;
    flex-direction: column;
}
 #pessoa{
    background-image: url('/img/pessoa3.png');
    
 }
 #cadeado{
    background-image: url('/img/cadeado2.png');
 }
 #cadeado img{

 }
.login{
    margin-top: 50px;
    border-radius: 80px;
    height: 20px;

}
.conta{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

}

#button-submit-div{
    display: flex; 
    justify-content: center;
 }

 #submit-button{
    width: 200px;
    height: 30px;
    box-shadow: #0DFF00 0px 1px 8px;
    background-color: rgb(235, 255, 235);
    border-radius: 100%;

 }

 #submit-button:hover{
    background-color: rgba(211, 230, 211, 0.664);
    cursor: pointer;

}

.label{
    font-size: medium;
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

.asterisco{
    color: red;

}
